<div style="margin: 20px 0;">
  <% if(currentPage - 1) { %>
    <a href="/posts?page=<%= posts.page -1 %><%= queryString %>">Prev</a>
  <% } %>
  <% if(posts.pages > 1 && posts.docs.length) { %>
    <% for(let i = startPage; i <= endPage; i++) { %>
      <a href="/posts?page=<%= i %><%= queryString %>"
        <%= i === posts.page ? 'style=color:#000;' : '' %>
      ><%= i %></a>
    <% } %>
  <% } %>
  <% if((currentPage + 1) <= totalPages) { %>
    <a href="/posts?page=<%= posts.page + 1 %><%= queryString %>">Next</a>
  <% } %>
</div>